.wrapperBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .boxInfo {
        width: 100%;
        height: 30%;
        display: flex;

        &:nth-child(1) {
            background-color: var(--background-black);
        }

        &:nth-child(even) {
            background-color: var(--backgroud-gray);
        }
    }

    .boxInfo:nth-child(1) {
        background-color: var(--background-black);
    }

    .bodyBanner {
        position: relative;
        width: 100%;
        height: 70%;
    }
}

@media only screen and (max-width: 650px) {
    .boxSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        .input {
            width: 100% !important;
            margin: 1rem 0;
            font-size: 1.4rem !important;
        }

        .button {
            margin-top: 1rem;
            width: 40%;
            text-align: center;
        }
    }
}
